@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

main{
	background-color: #212121;
	color: white;
	display: grid;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	grid-template-areas:"header header"
						"rocketAnimation rocketAnimation"
						"speed speed"
						"atmosfeer atmosfeer"
						"gravity gforce"
						"footer footer";
	grid-template-columns: 1fr 1fr;

}

header{
	grid-area: header;
	margin-bottom: 20px;
	display: flex;
	
}


.logo{
	max-width: 150px;
	padding: 10px;
	
	margin-left: auto;
	margin-right: auto;
}



h1{
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	margin: 10px;
}

.rocketAnimation{
	border-radius: 3px;
background: #212121;
box-shadow:  20px 20px 60px #101010, 
             -20px -20px 60px #323232;
	height: 200px;
	grid-area: rocketAnimation;
	margin: 20px;
	max-width: 400px;
	border-width: 1px;
	border-color: white;
	border: solid;

}




canvas{
	max-width: 390px;
}

.speed{
	border-radius: 3px;
background: #212121;
box-shadow:  20px 20px 60px #101010, 
             -20px -20px 60px #323232;
	grid-area: speed;
	height: 200px;
	margin-bottom: 20px;
	border-width: 1px;
	border-color: white;
	border: solid;
	margin-left: 20px;
	margin-right: 20px;

}

#speed{
	max-width: 374px;
	margin-left: 20px;
	height: 150px;
}

.atmosfeer{
	border-radius: 3px;
background: #212121;
box-shadow:  20px 20px 60px #101010, 
             -20px -20px 60px #323232;
	grid-area: atmosfeer;
	height: 200px;
	margin-bottom: 20px;
	border-width: 1px;
	border-color: white;
	border: solid;
	margin-left: 20px;
	margin-right: 20px;
}

#atmosfeer{
	max-width: 374px;
	margin-left: 20px;
	height: 150px;
}

.gravity{
	border-radius: 3px;
background: #212121;
box-shadow:  20px 20px 60px #101010, 
             -20px -20px 60px #323232;
	grid-area: gravity;
	height: 200px;
	margin-bottom: 20px;
	width: 177px;
	border-width: 1px;
	border-color: white;
	border: solid;
	margin-left: 20px;
	


}

.gforce{
	border-radius: 3px;
background: #212121;
box-shadow:  20px 20px 60px #101010, 
             -20px -20px 60px #323232;
	grid-area: gforce;
	height: 200px;
	margin-bottom: 20px;
	width: 177px;
	border-width: 1px;
	border-color: white;
	border: solid;
	margin-left: 20px;
	margin-right: 20px;

}

.odometer{
	font-size: 20px;
}

footer{
	border-radius: 3px;
background: #212121;
box-shadow:  20px 20px 60px #101010, 
             -20px -20px 60px #323232;
	grid-area: footer;
	height: 200px;
	border-width: 1px;
	border-color: white;
	border: solid;
}

